.productList {
    display: inline-block;
    font-family: "Lucida Console", "Courier New", monospace;
}

.productContainer {
    display: inline-flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    height:500px;
    width: 500px;
}

.productContainer:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}